body {
    font-family: "Open Sans";
    background-color: #e4f5dc;
}

header {
    background-color: white;
    display: block;
    margin-bottom: 10px;
}


.nav_links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.nav_link a {
    text-decoration: none;
}

.nav_links .current {
    font-size: 1.5em;
    text-decoration: underline;
}

.nav_links :visited {
    color: #000000;
}
 
.nav_links :hover {
    color: green;
}


li {
    list-style-type: none;
}


.skip a {
    position: absolute;
    top: -40px;
    left: 0px;
    z-index: 1;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    background-color: white;
    text-decoration: none;
}

.skip a:focus{   
    top: 0px;
    border: solid black;

}

.skip :visited {
    color: #000000;
}

.skip :hover {
    color: green; 
}


footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
  }

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}


/* welcome.html CSS specific */

#enter {
    text-align: center;
}


#earth {
    display: block;
    height: 250px;
    width: 250px; 
    margin-left: auto;
    margin-right: auto;
}

p a {
    color: black;
}


/* about.html CSS specific */

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    max-width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    
}

#about_me img, #about_website img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 300px;
    height: auto;

}

/* crochet_history.html CSS specific */


.container {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-gap: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;

}


#history_block_2 img, #history_block_4 img, #history_block_6 img, #history_block_8 img {
    width: 400px;
    height: auto;
} 


/* projects.html CSS specific */

.indv_projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 20px;
}


.project {
    width: 400px;
    height: auto; 
    padding: 10px;
}

/* future.html CSS specific */
.future {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
} 

#future_block_1, #future_block_3 {
    grid-column: 1 / span 1;
}

#future_block_2, #future_block_4 {
    grid-column: 2 / span 1;
}

#future_block_1, #future_block_2 {
    grid-row: 1 / span 1;
}

#future_block_3, #future_block_4 {
    grid-row: 2 / span 1;
}

#future_block_2 img, #future_block_3 img {
    width: 500px;
    height: auto; 
}

@media screen and (min-width: 760px){

    /* change header */

    .nav_links {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .skip a:focus {
        top: 40px;
    }
   

    /* welcome.html CSS specific */

    #earth {
        height: 500px;
        width: 500px; 
    }

    #enter {
        font-size: 1.5em;
    }

    /* crochet_history.html CSS specific */

    .container {
        display: grid;
        width: 95%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
    }

    #history_block_1, #history_block_4, #history_block_5, #history_block_8 {
        grid-column: 1 / span 1;
    } 


    #history_block_2, #history_block_3, #history_block_6, #history_block_7 {
        grid-column: 2 / span 1;
    } 

    #history_block_1, #history_block_2 {
        grid-row: 1 / span 1;
    }

    #history_block_4, #history_block_3 {
        grid-row: 2 / span 1;
    }

    #history_block_5, #history_block_6 {
        grid-row: 3 / span 1;
    }

    #history_block_8, #history_block_7 {
        grid-row: 4 / span 1;
    }

}
